[submodule "themes/themes/ananke"]
	path = themes/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = https://openmonstervision/openmonstervision.github.io
	branch = master
