[submodule "themes/themes/ananke"]
	path = themes/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = https://openmonstervision/openmonstervision.github.io
	branch = master
[submodule "openmonstervision.github.io"]
	path = openmonstervision.github.io
	url = git@github.com:openmonstervision/openmonstervision.github.io
	branch = master
